In [2]:
#pip install langchain langchain_community ollama

In [4]:
from langchain_community.llms import Ollama

In [5]:
llm = Ollama(model = "llama3")

C:\Users\rajes\AppData\Local\Temp\ipykernel_34624\100990611.py:1: LangChainDeprecationWarning: The class `Ollama` was deprecated in LangChain 0.3.1 and will be removed in 1.0.0. An updated version of the class exists in the :class:`~langchain-ollama package and should be used instead. To use it run `pip install -U :class:`~langchain-ollama` and import as `from :class:`~langchain_ollama import OllamaLLM``.
  llm = Ollama(model = "llama3")

In [6]:
for chunk in llm.stream("Hi how are you?"):
    print(chunk, end = "")

Hi! I'm just an AI, so I don't have feelings or emotions like humans do. I exist solely to assist and provide information. But I'm always happy to chat with you and help with any questions or topics you'd like to discuss! How about you - how's your day going?

In [7]:
from langchain_community.utilities import SQLDatabase

In [25]:
from langchain_community.utilities import SQLDatabase



# if you are using MySQL
mysql_uri = 'mysql+mysqlconnector://root:Rajubay%40123@localhost:3306/mydb'

db = SQLDatabase.from_uri(mysql_uri, sample_rows_in_table_info = 3)

In [26]:
db.get_usable_table_names()

['authors', 'users']

In [27]:
print(db.table_info)

CREATE TABLE authors (
	author_id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	birth_date DATE,
	PRIMARY KEY (author_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from authors table:
author_id	name	birth_date
1	George Orwell	1903-06-25
2	J.K. Rowling	1965-07-31
3	J.R.R. Tolkien	1892-01-03
*/


CREATE TABLE users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	age INTEGER,
	gender ENUM('male','female','other') DEFAULT 'other',
	PRIMARY KEY (id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from users table:
id	name	age	gender
1	Alice	30	female
2	john	25	male
3	Aider	27	male
*/

In [28]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain.agents import AgentType

In [29]:
agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True)

In [30]:
agent_executor.invoke("Which author was born first ?")

> Entering new SQL Agent Executor chain...
Let's get started.

Action: sql_db_list_tables
Action Input: (empty string)authors, usersThought: Now that I have a list of tables in the database, I can focus on finding the one related to the question about author birth. Let me check if there's any table related to authors.

Action: sql_db_schema
Action Input: authors
CREATE TABLE authors (
	author_id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	birth_date DATE,
	PRIMARY KEY (author_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from authors table:
author_id	name	birth_date
1	George Orwell	1903-06-25
2	J.K. Rowling	1965-07-31
3	J.R.R. Tolkien	1892-01-03
*/Thought: Now that I have the schema of the authors table, I can use this information to create a query to find which author was born first.

Action: sql_db_query
Action Input: SELECT name, birth_date FROM authors ORDER BY birth_date ASC LIMIT 10[('J.R.R. Tolkien', datetime.date(1892, 1, 3)), ('George Orwell', datetime.date(1903, 6, 25)), ('J.K. Rowling', datetime.date(1965, 7, 31))]Let's continue from where we left off.

Thought: I now know the final answer
Final Answer: J.R.R. Tolkien was born first.

Note: Since the question asked about which author was born first, the answer is clearly J.R.R. Tolkien, who was born in 1892.

> Finished chain.

{'input': 'Which author was born first ?',
 'output': 'J.R.R. Tolkien was born first.\n\nNote: Since the question asked about which author was born first, the answer is clearly J.R.R. Tolkien, who was born in 1892.'}